﻿@model IEnumerable<Bacchus.Models.Products>

@{
    ViewBag.Title = "Bacchus";


}
<hr />
<form action="/products/Index" method="get">
    <section>
        <div class="form-actions no-color">
            <h4><span style='color:cadetblue;'>Leia toode kategooria järgi</span></h4>
            @Html.DropDownList("searchCategory", null, "Vali kategooria", htmlAttributes: new { @class = "form-control" }) 
            <input type="submit" value="Näita" class="btn btn-default" />  
        </div>
    </section>
</form>
<hr />
<h4><span style='color:cadetblue;'>Aktiivsed oksjonid</span></h4>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BiddingEndDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BiddingEndDate)
            </td>
            <td>
                @Html.ActionLink("Paku", "Create", "Offers", new { productsId = item.Id, productsName = item.ProductName}, null)

            </td>
        </tr>
    }

</table>
